<div class="showProfile">
  <div class="profile-content">
    <a class="profile-title" href="/profile/{{currentUser.id}}"></a>
    <h1>{{user.name}}</h1>
    <img src="public/images/{{id}}" alt="Profile Photo">
    <h2>{{user.location.zipcode}}</h2>
    <p>{{user.bio}}</p>
    <p>{{user.interests}}</p>
   </div>
  <div class="linkTo">
    <a href="/users/showUserDogs" class="viewUserDogs">View {{user.name}}'s dogs</a>
    <a href="profiles/draftMessageForm" class="sendMessage">Contact {{user.name}}</a>
    {{#if currentUser}}
    <a href="profile/messages" class="viewMessages">My Messages</a>
    {{/if}}
  </div>
</div>