<div class="showDogProfile">
  <div class="dog-profile-content">
    <a class="dog-profile-title" href="/dog/{{id}}"></a>
    <h1>{{dogs.name}}</h1>
    <img src={{dogs.avatar}} alt="Dog Profile Photo">
    <ul>
        <li>Weight: {{dogs.weight}}</li>
        <li>Breed: {{dogs.breed}}</li>
        <li>Age: {{dogs.age}}</li>
    </ul>  
    <h1>What you should know about me</h1>  
    <p>{{dogs.additionalInfo}}</p>
   </div>
  <div class="linkTo">
    <a href="/profiles/{{id}}" class="viewUserDogs">Back to my owner's profile</a>
    <a href="profiles/draftMessageForm" class="sendMessage">Want to play? Contact My Owner</a>
  </div>
</div>