<div class="showDogProfile">
  <div class="dog-profile-content">
    <a class="dog-profile-title" href="/dog/{{id}}"></a>
    <h1>{{dog.name}}</h1>
    <img src="/images/{{dog.avatar}}" alt="Dog Profile Photo">
    <ul>
        <li>{{dog.weight}}</li>
        <li>{{dog.breed}}</li>
        <li>{{dog.age}}</li>
    </ul>  
    <h1>What you should know about me</h1>  
    <p>{{dog.additionalInfo}}</p>
   </div>
  <div class="linkTo">
    <a href="/profiles/show" class="viewUserDogs">Back to {{user.name}}'s profile</a>
    <a href="profiles/draftMessageForm" class="sendMessage">Want to play? Contact My Owner</a>
  </div>
</div>