<li><a href="/profiles/{{id}}">Back to My Profile</a></li>
<h1>Browse Humans</h1>
<ul class="humanList">
   {{#each users as |user|}}
        <ul>
            <li>{{dog.name}}</li> 
            <li>{{dog.age}}</li>
            <li>{{dog.weight}}</li> 
            <li>{{dog.breed}}</li>
            <li>{{dog.avatar}}</li>
            <li>{{dog.additionalInfo}}</li>
        </ul>
    {{/each}}
</ul>