<div class="showUserDogs">
    <a class="user-dogs-title" href="/dogs/{{id}}"></a>
    <h1>{{user.name}}'s dogs</h1>
    {{#each dogs as |dog|}}
        <ul>
            <li>{{dog.name}}</li> 
            <li>{{dog.weight}}</li>
            <li>{{dog.age}}</li> 
            <li>{{dog.breed}}</li>
            <li><img src="{{dog.avatar}}" alt=""></li>
            <li>{{dog.additionalInfo}}</li>
        </ul>
    {{/each}}
   </div>
<div class="linkTo">
    <a href="/profiles/show" class="viewUserDogs">Back to {{user.name}}'s profile</a>
</div>