<div class="showUserDogs">
    <a class="user-dogs-title" href="/dogs/user/{{id}}"></a>
    <h1>{{user.name}}'s dogs</h1>
    <ul>{{user.dogs}}</ul>
   </div>
<div class="linkTo">
    <a href="/profiles/show" class="viewUserDogs">Back to {{user.name}}'s profile</a>
    <a href="dogs/show" class="viewDog">View {{user.dogs.name}}'s profile</a>
</div>